/* layer弹窗 */

.layer-wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(50, 50, 50, 0.4);
  z-index: 3000;
}

.layer-main {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1AC5A3;
  border-radius: 5px;
  overflow: hidden;
  min-width: 240px;
  z-index: 3001;
}

.layer-title {
  margin: 0;
  padding: 10px;
  font-size: 14px;
  font-weight: normal;
  /* background: #1AC5A3; */
}

.layer-content {
  background: #fff;
  padding: 15px;
}

.layer-btns {
  text-align: center;
}

.layer-btns button {
  background: #1AC5A3;
  outline: none;
  border: none;
  border-radius: 3px;
  color: #fff;
  padding: 0.3em 1.2em;
}

.layer-btns button:nth-child(n+2) {
  margin-left: 20px;
}